/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body { height: 100%; }

body {
  background-color: white;
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

h1 {
  margin-bottom: 1em;
}

p {
  margin: 1em 0;
}

figcaption {
  color: #aaa;
  font-size: 80%;
  line-height: 1.5;
}

a {
  color: #00a;

  &:hover {
    color: #000;
  }
  &:visited {
    color: #a0a;
  }
}

img {
  max-width: 100%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 115%;
  text-align: justify;
  width: 42em;
  max-width: 100%;
  padding: 2em 8px;
  margin: 0 auto;
  line-height: 1.5em;

  .header {
    .anchor {
      font-weight: bold;
      text-decoration: none;
    }

    .title {
      display: inline-block;
      margin-bottom: 2em;

      .anchor {
        color: #a00;

        &:hover {
          color: #000;
        }
      }
    }

    .extra {
      color: #aaa;
      margin-left: 1em;

      &:hover {
        color: #000;
      }
    }
  }

  .main {
    .list-group {
      list-style: none;
      margin-bottom: 2em;

      .list-group__item {
        line-height: 1.75em;

        .item-date {
          color: #aaa;
          font-family: Monaco, "Courier New", monospace;
          font-size: 80%;
        }
      }
    }
  }

  .footer {
    font-size: 80%;
    color: #666;
    border-top: 4px solid #eee;
    margin-top: 2em;
    overflow: hidden;

    .sw {
      &::after {
        content: '';
      }

      &.sw--done::after {
        content: ' sw';
        color: green;
      }
      &.sw--waiting::after {
        content: ' sw';
        color: orange;
      }
      &.sw--error::after {
        content: ' sw';
        color: red;
      }
      &.sw--no-support::after {
        content: ' No support';
      }
    }

    .contact {
      list-style: none;

      a {
        color: #8085C1;
      }
    }
  }
}
